.header{
    padding: 0.5vw;
    margin-bottom: 2vw;
    border-bottom: 3px solid #F85931;
    background: #CE1836;
}
.header img{
    height: 4vw;
}
.header .nav{
    position: absolute;
    right: 0;
}
.header .titleLogo{
    font-size: 3.2vw;
    color: black;
    background-color: #F85931;
    border-radius: 1rem;
}